main {
    background-image: url('../images/Imagen principal.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}

.titulo__principal{
    margin-bottom: 120px;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

form {
    border: 2px solid #000;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 180px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
.link{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #28a745;
    padding-top: 10px;
}
.link:hover{
 
color: #218838;
}